[submodule "android/android-img-tools"]
	path = android/android-img-tools
	url = https://github.com/ocervell/android_img_repack_tools.git
[submodule "android/toolchain/arm-eabi-4.7"]
	path = android/toolchain/arm-eabi-4.7
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/arm/arm-eabi-4.7
[submodule "android/kernels/hammerhead"]
	path = android/kernels/hammerhead
	url = https://android.googlesource.com/kernel/msm.git
